Cmty/Admin/Service References/UtilityService/UtilityService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IndexOfUniversity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="university" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndexOfUniversityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IndexOfUniversityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NameOfUniversity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NameOfUniversityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NameOfUniversityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndexOfJobTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndexOfJobTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IndexOfJobTitleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NameOfJobTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NameOfJobTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NameOfJobTitleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>