Cmty/Admin/Web References/CourseService/CourseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CourseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8060/Svcs/CourseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8060/Svcs/CourseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8060/Svcs/CourseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.cnts" />
      <xsd:import schemaLocation="http://localhost:8060/Svcs/CourseService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICourseService_AddCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCourse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_AddCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetCourseByPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseByPage" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetCourseByPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseByPageResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_AddCourseApply_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCourseApply" />
  </wsdl:message>
  <wsdl:message name="ICourseService_AddCourseApply_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCourseApplyResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_HasMember_InputMessage">
    <wsdl:part name="parameters" element="tns:HasMember" />
  </wsdl:message>
  <wsdl:message name="ICourseService_HasMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasMemberResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetCourseReviewViewByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseReviewViewByEmail" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetCourseReviewViewByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseReviewViewByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetCourseReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseReviews" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetCourseReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_ReviewPass_InputMessage">
    <wsdl:part name="parameters" element="tns:ReviewPass" />
  </wsdl:message>
  <wsdl:message name="ICourseService_ReviewPass_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReviewPassResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_ReviewFailed_InputMessage">
    <wsdl:part name="parameters" element="tns:ReviewFailed" />
  </wsdl:message>
  <wsdl:message name="ICourseService_ReviewFailed_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReviewFailedResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetCourseByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseByCode" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetCourseByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_DelCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:DelCourse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_DelCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelCourseResponse" />
  </wsdl:message>
  <wsdl:portType name="ICourseService">
    <wsdl:operation name="AddCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/AddCourse" message="tns:ICourseService_AddCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/AddCourseResponse" message="tns:ICourseService_AddCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseByPage">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/GetCourseByPage" message="tns:ICourseService_GetCourseByPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/GetCourseByPageResponse" message="tns:ICourseService_GetCourseByPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCourseApply">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/AddCourseApply" message="tns:ICourseService_AddCourseApply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/AddCourseApplyResponse" message="tns:ICourseService_AddCourseApply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasMember">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/HasMember" message="tns:ICourseService_HasMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/HasMemberResponse" message="tns:ICourseService_HasMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseReviewViewByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/GetCourseReviewViewByEmail" message="tns:ICourseService_GetCourseReviewViewByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/GetCourseReviewViewByEmailResponse" message="tns:ICourseService_GetCourseReviewViewByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/GetCourseReviews" message="tns:ICourseService_GetCourseReviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/GetCourseReviewsResponse" message="tns:ICourseService_GetCourseReviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReviewPass">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/ReviewPass" message="tns:ICourseService_ReviewPass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/ReviewPassResponse" message="tns:ICourseService_ReviewPass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReviewFailed">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/ReviewFailed" message="tns:ICourseService_ReviewFailed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/ReviewFailedResponse" message="tns:ICourseService_ReviewFailed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/GetCourseByCode" message="tns:ICourseService_GetCourseByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/GetCourseByCodeResponse" message="tns:ICourseService_GetCourseByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/DelCourse" message="tns:ICourseService_DelCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/DelCourseResponse" message="tns:ICourseService_DelCourse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICourseService" type="tns:ICourseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCourse">
      <soap:operation soapAction="http://tempuri.org/ICourseService/AddCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseByPage">
      <soap:operation soapAction="http://tempuri.org/ICourseService/GetCourseByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCourseApply">
      <soap:operation soapAction="http://tempuri.org/ICourseService/AddCourseApply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasMember">
      <soap:operation soapAction="http://tempuri.org/ICourseService/HasMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseReviewViewByEmail">
      <soap:operation soapAction="http://tempuri.org/ICourseService/GetCourseReviewViewByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseReviews">
      <soap:operation soapAction="http://tempuri.org/ICourseService/GetCourseReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReviewPass">
      <soap:operation soapAction="http://tempuri.org/ICourseService/ReviewPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReviewFailed">
      <soap:operation soapAction="http://tempuri.org/ICourseService/ReviewFailed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseByCode">
      <soap:operation soapAction="http://tempuri.org/ICourseService/GetCourseByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCourse">
      <soap:operation soapAction="http://tempuri.org/ICourseService/DelCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CourseService">
    <wsdl:port name="BasicHttpBinding_ICourseService" binding="tns:BasicHttpBinding_ICourseService">
      <soap:address location="http://localhost:8060/Svcs/CourseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>