Cmty/MVCViews/Service References/TeacherServiceDebug/TeacherService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7774/svcs/TeacherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.cnts" />
  <xs:import schemaLocation="http://localhost:7774/svcs/TeacherService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonLib" />
  <xs:element name="AddTeacherInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="model" nillable="true" type="q1:TeacherInfoView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeacherInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="AddTeacherInfoResult" type="q2:ReturnState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetTeacherInfoResult" nillable="true" type="q3:TeacherInfoView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeacherrInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="model" nillable="true" type="q4:TeacherInfoView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeacherrInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="UpdateTeacherrInfoResult" type="q5:ReturnState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasMemberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherInfoList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetTeacherInfoListResult" nillable="true" type="q6:ArrayOfTeacherInfoView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTeacherInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTeacherInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="RemoveTeacherInfoResult" type="q7:ReturnState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="model" nillable="true" type="q8:TeacherCommentView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="AddCommentResult" type="q9:ReturnState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="model" nillable="true" type="q10:TeacherCommentView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="RemoveCommentResult" type="q11:ReturnState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetCommentByEmailResult" nillable="true" type="q12:ArrayOfTeacherCommentView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidFloor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidFloorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetValidFloorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>