Cmty/MVCViews/Service References/TeacherServiceDebug/TeacherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TeacherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7774/svcs/TeacherService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7774/svcs/TeacherService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7774/svcs/TeacherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.cnts" />
      <xsd:import schemaLocation="http://localhost:7774/svcs/TeacherService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITeacherService_AddTeacherInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTeacherInfo" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_AddTeacherInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTeacherInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetTeacherInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherInfo" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetTeacherInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_UpdateTeacherrInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeacherrInfo" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_UpdateTeacherrInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeacherrInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_HasMember_InputMessage">
    <wsdl:part name="parameters" element="tns:HasMember" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_HasMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasMemberResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetTeacherInfoList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherInfoList" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetTeacherInfoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherInfoListResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_RemoveTeacherInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTeacherInfo" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_RemoveTeacherInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTeacherInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_AddComment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddComment" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_AddComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_RemoveComment_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveComment" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_RemoveComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetCommentByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentByEmail" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetCommentByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetValidFloor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValidFloor" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetValidFloor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValidFloorResponse" />
  </wsdl:message>
  <wsdl:portType name="ITeacherService">
    <wsdl:operation name="AddTeacherInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/AddTeacherInfo" message="tns:ITeacherService_AddTeacherInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/AddTeacherInfoResponse" message="tns:ITeacherService_AddTeacherInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/GetTeacherInfo" message="tns:ITeacherService_GetTeacherInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/GetTeacherInfoResponse" message="tns:ITeacherService_GetTeacherInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTeacherrInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/UpdateTeacherrInfo" message="tns:ITeacherService_UpdateTeacherrInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/UpdateTeacherrInfoResponse" message="tns:ITeacherService_UpdateTeacherrInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasMember">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/HasMember" message="tns:ITeacherService_HasMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/HasMemberResponse" message="tns:ITeacherService_HasMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherInfoList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/GetTeacherInfoList" message="tns:ITeacherService_GetTeacherInfoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/GetTeacherInfoListResponse" message="tns:ITeacherService_GetTeacherInfoList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTeacherInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/RemoveTeacherInfo" message="tns:ITeacherService_RemoveTeacherInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/RemoveTeacherInfoResponse" message="tns:ITeacherService_RemoveTeacherInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/AddComment" message="tns:ITeacherService_AddComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/AddCommentResponse" message="tns:ITeacherService_AddComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/RemoveComment" message="tns:ITeacherService_RemoveComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/RemoveCommentResponse" message="tns:ITeacherService_RemoveComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/GetCommentByEmail" message="tns:ITeacherService_GetCommentByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/GetCommentByEmailResponse" message="tns:ITeacherService_GetCommentByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValidFloor">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/GetValidFloor" message="tns:ITeacherService_GetValidFloor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/GetValidFloorResponse" message="tns:ITeacherService_GetValidFloor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITeacherService" type="tns:ITeacherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTeacherInfo">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/AddTeacherInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherInfo">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/GetTeacherInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTeacherrInfo">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/UpdateTeacherrInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasMember">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/HasMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherInfoList">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/GetTeacherInfoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTeacherInfo">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/RemoveTeacherInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/AddComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveComment">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/RemoveComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentByEmail">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/GetCommentByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidFloor">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/GetValidFloor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeacherService">
    <wsdl:port name="BasicHttpBinding_ITeacherService" binding="tns:BasicHttpBinding_ITeacherService">
      <soap:address location="http://localhost:7774/svcs/TeacherService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>