Cmty/MVCViews/Service References/CourseCommentService/CourseCommentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CourseCommentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7774/svcs/CourseCommentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7774/svcs/CourseCommentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7774/svcs/CourseCommentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.cnts" />
      <xsd:import schemaLocation="http://localhost:7774/svcs/CourseCommentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICourseCommentService_AddComment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddComment" />
  </wsdl:message>
  <wsdl:message name="ICourseCommentService_AddComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseCommentService_RemoveComment_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveComment" />
  </wsdl:message>
  <wsdl:message name="ICourseCommentService_RemoveComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseCommentService_GetCommentByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentByCode" />
  </wsdl:message>
  <wsdl:message name="ICourseCommentService_GetCommentByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseCommentService_GetValidFloor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValidFloor" />
  </wsdl:message>
  <wsdl:message name="ICourseCommentService_GetValidFloor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValidFloorResponse" />
  </wsdl:message>
  <wsdl:portType name="ICourseCommentService">
    <wsdl:operation name="AddComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseCommentService/AddComment" message="tns:ICourseCommentService_AddComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseCommentService/AddCommentResponse" message="tns:ICourseCommentService_AddComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseCommentService/RemoveComment" message="tns:ICourseCommentService_RemoveComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseCommentService/RemoveCommentResponse" message="tns:ICourseCommentService_RemoveComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseCommentService/GetCommentByCode" message="tns:ICourseCommentService_GetCommentByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseCommentService/GetCommentByCodeResponse" message="tns:ICourseCommentService_GetCommentByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValidFloor">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseCommentService/GetValidFloor" message="tns:ICourseCommentService_GetValidFloor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseCommentService/GetValidFloorResponse" message="tns:ICourseCommentService_GetValidFloor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICourseCommentService" type="tns:ICourseCommentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddComment">
      <soap:operation soapAction="http://tempuri.org/ICourseCommentService/AddComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveComment">
      <soap:operation soapAction="http://tempuri.org/ICourseCommentService/RemoveComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentByCode">
      <soap:operation soapAction="http://tempuri.org/ICourseCommentService/GetCommentByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidFloor">
      <soap:operation soapAction="http://tempuri.org/ICourseCommentService/GetValidFloor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CourseCommentService">
    <wsdl:port name="BasicHttpBinding_ICourseCommentService" binding="tns:BasicHttpBinding_ICourseCommentService">
      <soap:address location="http://localhost:7774/svcs/CourseCommentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>