Cmty/MVCViews/Web References/MarketService/MarketService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8060/Svcs/MarketService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.cnts" />
  <xs:import schemaLocation="http://localhost:8060/Svcs/MarketService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonLib" />
  <xs:import schemaLocation="http://localhost:8060/Svcs/MarketService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="UserAddGoods">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="model" nillable="true" type="q1:GoodsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAddGoodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="UserAddGoodsResult" type="q2:ReturnState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoBySellerAndDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seller" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoBySellerAndDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetGoodsInfoBySellerAndDateResult" nillable="true" type="q3:GoodsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetGoodsInfoByIdResult" nillable="true" type="q4:GoodsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoListBySeller">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seller" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoListBySellerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetGoodsInfoListBySellerResult" nillable="true" type="q5:ArrayOfGoodsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoListByBuyer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buyer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoListByBuyerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetGoodsInfoListByBuyerResult" nillable="true" type="q6:ArrayOfGoodsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoOnSale">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoOnSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetGoodsInfoOnSaleResult" nillable="true" type="q7:ArrayOfGoodsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoByStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoByStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetGoodsInfoByStatusResult" nillable="true" type="q8:ArrayOfGoodsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGoodsInfoStatusById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGoodsInfoStatusByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="SetGoodsInfoStatusByIdResult" type="q9:ReturnState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGoodsInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGoodsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetAllGoodsInfoResult" nillable="true" type="q10:ArrayOfGoodsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGoodsCommentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGoodsCommentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="AddGoodsCommentByIdResult" type="q11:ReturnState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="model" nillable="true" type="q12:GoodsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasMemberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGoodsInfoSaleStatusAndBuyerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="staus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buyer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGoodsInfoSaleStatusAndBuyerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="SetGoodsInfoSaleStatusAndBuyerByIdResult" type="q13:ReturnState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGoodsInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGoodsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="RemoveGoodsInfoResult" type="q14:ReturnState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLeaveMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="model" nillable="true" type="q15:LeaveMsgModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLeaveMsgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="AddLeaveMsgResult" type="q16:ReturnState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelLeaveMsgById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelLeaveMsgByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="DelLeaveMsgByIdResult" type="q17:ReturnState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeaveMsgById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeaveMsgByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetLeaveMsgByIdResult" nillable="true" type="q18:LeaveMsgModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeaveMsgListByGid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeaveMsgListByGidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetLeaveMsgListByGidResult" nillable="true" type="q19:ArrayOfLeaveMsgModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetGoodsInfoTypeListResult" nillable="true" type="q20:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoListByNameAndDesp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="findStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoListByNameAndDespResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetGoodsInfoListByNameAndDespResult" nillable="true" type="q21:ArrayOfGoodsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>