Cmty/MVCViews/Service References/MarketServiceDebug/MarketService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.cnts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.cnts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GoodsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Buyer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Desp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Money" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PicUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Seller" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoodsInfo" nillable="true" type="tns:GoodsInfo" />
  <xs:complexType name="ArrayOfGoodsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoodsInfo" nillable="true" type="tns:GoodsInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoodsInfo" nillable="true" type="tns:ArrayOfGoodsInfo" />
  <xs:complexType name="LeaveMsgModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Floor" type="xs:int" />
      <xs:element minOccurs="0" name="Gid" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PubDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeaveMsgModel" nillable="true" type="tns:LeaveMsgModel" />
  <xs:complexType name="ArrayOfLeaveMsgModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeaveMsgModel" nillable="true" type="tns:LeaveMsgModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeaveMsgModel" nillable="true" type="tns:ArrayOfLeaveMsgModel" />
</xs:schema>