Cmty/MVCViews/Service References/MarketService/MarketService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MarketService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7774/svcs/MarketService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7774/svcs/MarketService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7774/svcs/MarketService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.cnts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMarketService_GetGoodsInfoBySellerAndDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGoodsInfoBySellerAndDate" />
  </wsdl:message>
  <wsdl:message name="IMarketService_GetGoodsInfoBySellerAndDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGoodsInfoBySellerAndDateResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketService_GetGoodsInfoById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGoodsInfoById" />
  </wsdl:message>
  <wsdl:message name="IMarketService_GetGoodsInfoById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGoodsInfoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketService_GetGoodsInfoListBySeller_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGoodsInfoListBySeller" />
  </wsdl:message>
  <wsdl:message name="IMarketService_GetGoodsInfoListBySeller_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGoodsInfoListBySellerResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketService_GetGoodsInfoListByBuyer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGoodsInfoListByBuyer" />
  </wsdl:message>
  <wsdl:message name="IMarketService_GetGoodsInfoListByBuyer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGoodsInfoListByBuyerResponse" />
  </wsdl:message>
  <wsdl:portType name="IMarketService">
    <wsdl:operation name="GetGoodsInfoBySellerAndDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketService/GetGoodsInfoBySellerAndDate" message="tns:IMarketService_GetGoodsInfoBySellerAndDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketService/GetGoodsInfoBySellerAndDateResponse" message="tns:IMarketService_GetGoodsInfoBySellerAndDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGoodsInfoById">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketService/GetGoodsInfoById" message="tns:IMarketService_GetGoodsInfoById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketService/GetGoodsInfoByIdResponse" message="tns:IMarketService_GetGoodsInfoById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGoodsInfoListBySeller">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketService/GetGoodsInfoListBySeller" message="tns:IMarketService_GetGoodsInfoListBySeller_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketService/GetGoodsInfoListBySellerResponse" message="tns:IMarketService_GetGoodsInfoListBySeller_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGoodsInfoListByBuyer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketService/GetGoodsInfoListByBuyer" message="tns:IMarketService_GetGoodsInfoListByBuyer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketService/GetGoodsInfoListByBuyerResponse" message="tns:IMarketService_GetGoodsInfoListByBuyer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMarketService" type="tns:IMarketService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGoodsInfoBySellerAndDate">
      <soap:operation soapAction="http://tempuri.org/IMarketService/GetGoodsInfoBySellerAndDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGoodsInfoById">
      <soap:operation soapAction="http://tempuri.org/IMarketService/GetGoodsInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGoodsInfoListBySeller">
      <soap:operation soapAction="http://tempuri.org/IMarketService/GetGoodsInfoListBySeller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGoodsInfoListByBuyer">
      <soap:operation soapAction="http://tempuri.org/IMarketService/GetGoodsInfoListByBuyer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MarketService">
    <wsdl:port name="BasicHttpBinding_IMarketService" binding="tns:BasicHttpBinding_IMarketService">
      <soap:address location="http://localhost:7774/svcs/MarketService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>