Cmty/MVCViews/Service References/MarketService/MarketService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7774/svcs/MarketService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.cnts" />
  <xs:element name="GetGoodsInfoBySellerAndDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seller" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoBySellerAndDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetGoodsInfoBySellerAndDateResult" nillable="true" type="q1:GoodsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetGoodsInfoByIdResult" nillable="true" type="q2:GoodsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoListBySeller">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seller" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoListBySellerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetGoodsInfoListBySellerResult" nillable="true" type="q3:ArrayOfGoodsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoListByBuyer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buyer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsInfoListByBuyerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetGoodsInfoListByBuyerResult" nillable="true" type="q4:ArrayOfGoodsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>