Cmty/MVCViews/Service References/ForumService/ForumService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7774/svcs/ForumService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.cnts" />
  <xs:import schemaLocation="http://localhost:7774/svcs/ForumService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonLib" />
  <xs:element name="AddPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="model" nillable="true" type="q1:PostModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="AddPostResult" type="q2:ReturnState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="DelPostResult" type="q3:ReturnState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetPostListResult" nillable="true" type="q4:ArrayOfPostModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostListByPoster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poster" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostListByPosterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetPostListByPosterResult" nillable="true" type="q5:ArrayOfPostModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetPostByIdResult" nillable="true" type="q6:PostModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="model" nillable="true" type="q7:PostModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="UpdatePostResult" type="q8:ReturnState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>