Cmty/MVCViews/Service References/ForumService/ForumService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.cnts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.cnts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PostModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NoComments" type="xs:int" />
      <xs:element minOccurs="0" name="PostType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Poster" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublishDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostModel" nillable="true" type="tns:PostModel" />
  <xs:complexType name="ArrayOfPostModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostModel" nillable="true" type="tns:PostModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostModel" nillable="true" type="tns:ArrayOfPostModel" />
</xs:schema>