Cmty/MVCViews/Service References/TeacherService/TeacherService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.cnts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.cnts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TeacherInfoView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobTitle" type="xs:int" />
      <xs:element minOccurs="0" name="RegisteDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="University" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeacherInfoView" nillable="true" type="tns:TeacherInfoView" />
  <xs:complexType name="ArrayOfTeacherInfoView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeacherInfoView" nillable="true" type="tns:TeacherInfoView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeacherInfoView" nillable="true" type="tns:ArrayOfTeacherInfoView" />
</xs:schema>