Cmty/Admin/Web References/AccountService/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8060/Svcs/AccountService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8060/Svcs/AccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8060/Svcs/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services" />
      <xsd:import schemaLocation="http://localhost:8060/Svcs/AccountService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IAccountService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAccountService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInfo" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AdminLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminLogin" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AdminLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_HasMember_InputMessage">
    <wsdl:part name="parameters" element="tns:HasMember" />
  </wsdl:message>
  <wsdl:message name="IAccountService_HasMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_IsEmailValid_InputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailValid" />
  </wsdl:message>
  <wsdl:message name="IAccountService_IsEmailValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailValidResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_SetEamilStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetEamilStatus" />
  </wsdl:message>
  <wsdl:message name="IAccountService_SetEamilStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetEamilStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetEmailCheckStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailCheckStatus" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetEmailCheckStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailCheckStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ReValidEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ReValidEmail" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ReValidEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReValidEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IAccountService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_CheckEmailForDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckEmailForDelete" />
  </wsdl:message>
  <wsdl:message name="IAccountService_CheckEmailForDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckEmailForDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AddForgotPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:AddForgotPassword" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AddForgotPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddForgotPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateForgotPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateForgotPassword" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateForgotPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateForgotPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_DeleteForgotPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteForgotPassword" />
  </wsdl:message>
  <wsdl:message name="IAccountService_DeleteForgotPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteForgotPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetForgotPasswordList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForgotPasswordList" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetForgotPasswordList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForgotPasswordListResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetForgotPasswordById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForgotPasswordById" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetForgotPasswordById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForgotPasswordByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/Register" message="tns:IAccountService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/RegisterResponse" message="tns:IAccountService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/Login" message="tns:IAccountService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/LoginResponse" message="tns:IAccountService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetUserInfo" message="tns:IAccountService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetUserInfoResponse" message="tns:IAccountService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/UpdateUserInfo" message="tns:IAccountService_UpdateUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/UpdateUserInfoResponse" message="tns:IAccountService_UpdateUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/AdminLogin" message="tns:IAccountService_AdminLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/AdminLoginResponse" message="tns:IAccountService_AdminLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/HasMember" message="tns:IAccountService_HasMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/HasMemberResponse" message="tns:IAccountService_HasMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsEmailValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/IsEmailValid" message="tns:IAccountService_IsEmailValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/IsEmailValidResponse" message="tns:IAccountService_IsEmailValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetEamilStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/SetEamilStatus" message="tns:IAccountService_SetEamilStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/SetEamilStatusResponse" message="tns:IAccountService_SetEamilStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmailCheckStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetEmailCheckStatus" message="tns:IAccountService_GetEmailCheckStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetEmailCheckStatusResponse" message="tns:IAccountService_GetEmailCheckStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReValidEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/ReValidEmail" message="tns:IAccountService_ReValidEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/ReValidEmailResponse" message="tns:IAccountService_ReValidEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/DeleteUser" message="tns:IAccountService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/DeleteUserResponse" message="tns:IAccountService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckEmailForDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/CheckEmailForDelete" message="tns:IAccountService_CheckEmailForDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/CheckEmailForDeleteResponse" message="tns:IAccountService_CheckEmailForDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddForgotPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/AddForgotPassword" message="tns:IAccountService_AddForgotPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/AddForgotPasswordResponse" message="tns:IAccountService_AddForgotPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateForgotPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/UpdateForgotPassword" message="tns:IAccountService_UpdateForgotPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/UpdateForgotPasswordResponse" message="tns:IAccountService_UpdateForgotPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteForgotPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/DeleteForgotPassword" message="tns:IAccountService_DeleteForgotPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/DeleteForgotPasswordResponse" message="tns:IAccountService_DeleteForgotPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetForgotPasswordList">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetForgotPasswordList" message="tns:IAccountService_GetForgotPasswordList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetForgotPasswordListResponse" message="tns:IAccountService_GetForgotPasswordList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetForgotPasswordById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetForgotPasswordById" message="tns:IAccountService_GetForgotPasswordById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetForgotPasswordByIdResponse" message="tns:IAccountService_GetForgotPasswordById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IAccountService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAccountService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <soap:operation soapAction="http://tempuri.org/IAccountService/UpdateUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <soap:operation soapAction="http://tempuri.org/IAccountService/AdminLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasMember">
      <soap:operation soapAction="http://tempuri.org/IAccountService/HasMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmailValid">
      <soap:operation soapAction="http://tempuri.org/IAccountService/IsEmailValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEamilStatus">
      <soap:operation soapAction="http://tempuri.org/IAccountService/SetEamilStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailCheckStatus">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetEmailCheckStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReValidEmail">
      <soap:operation soapAction="http://tempuri.org/IAccountService/ReValidEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IAccountService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckEmailForDelete">
      <soap:operation soapAction="http://tempuri.org/IAccountService/CheckEmailForDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddForgotPassword">
      <soap:operation soapAction="http://tempuri.org/IAccountService/AddForgotPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateForgotPassword">
      <soap:operation soapAction="http://tempuri.org/IAccountService/UpdateForgotPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteForgotPassword">
      <soap:operation soapAction="http://tempuri.org/IAccountService/DeleteForgotPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForgotPasswordList">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetForgotPasswordList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForgotPasswordById">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetForgotPasswordById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://localhost:8060/Svcs/AccountService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>