Cmty/MVCViews/Service References/CourseService/CourseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7774/svcs/CourseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.cnts" />
  <xs:import schemaLocation="http://localhost:7774/svcs/CourseService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonLib" />
  <xs:element name="AddCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="model" nillable="true" type="q1:CourseView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="AddCourseResult" type="q2:ReturnState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="nPage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.cnts" minOccurs="0" name="GetCourseByPageResult" nillable="true" type="q3:ArrayOfCourseView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>