Cmty/MVCViews/Service References/CourseService/CourseService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.cnts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.cnts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CourseView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Desp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PicUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="University" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CourseView" nillable="true" type="tns:CourseView" />
  <xs:complexType name="ArrayOfCourseView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CourseView" nillable="true" type="tns:CourseView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourseView" nillable="true" type="tns:ArrayOfCourseView" />
</xs:schema>